.plus {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  color: $space-cadet;
  background: $cyclamen;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  &:after {
      content: "+";
      font-size: 2.5em;
      line-height: 1.1em;
  }
  &:hover {
      transform: rotate(45deg);
      box-shadow: 0 0 1px 15px rgba($cyclamen, 0.4),
      0 0 1px 30px rgba($cyclamen, 0.1),
      0 0 1px 45px rgba($cyclamen, 0.1);
  }
}

.primary-button {
  background: $cyclamen;
  color: $space-cadet;
  border-radius: $component-border-radius;
  border: none;
  padding: 0.5em;
  font-size: 1.5em;
}

.primary-button:hover {
  cursor: pointer;
  background: $cyclamen-bright;
}