.comment-content {
  border-radius: $component-border-radius;
  padding: 0.5em;
  box-shadow: $default-box-shadow;
  background-color: white;
  margin-bottom: 1em;

  button {
    border: none;
  }
}

.comment-author {
  font-weight: bold;
}

.comment-footer {
  color: $space-cadet-bright;
  margin-top: 0.5em;
  text-align: right;
}

@media (min-width: 650px) {
  .comment-content {
    width: 650px;
  }
}