.header-container {
  height: 5em;
  display: flex;
  flex-direction: column;
  padding: 3em 1rem 0 1rem;

  input {
    border-radius: $component-border-radius;
    border: none;
    padding: 0.5em;
    font-size: 1.5rem;
    background: $space-cadet-bright;
    color: white;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3em;
}

.title {
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.main-container {
  background-color: white;
  border-top-left-radius: $layout-border-radius;
  border-top-right-radius: $layout-border-radius;
  margin-top: 13em;
  color: black;
}

footer {
  background-color: $cyclamen;
  padding: 2em;
  height: 100px;
}