.login-container {
  margin: 1.5em;

  .title,
  p,
  h2 {
    text-align: center;
  }

  p {
    margin-bottom: 3em;
  }

  h2 {
    margin-bottom: 1em;
  }

  a {
    color: $cyclamen;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border-radius: $component-border-radius;
    border: none;
    padding: 0.5em;
    font-size: 1.5em;
    background: $space-cadet-bright;
    color: white;
    margin-bottom: 0.5em;
    width: 100%;
  }

  button {
    margin: 1em 0;
    width: 100%;
  }
}

@media (min-width: 550px) {
  .login-form {
    input,
    button {
      width: 550px;
    }
  }
}