.login-container {
  margin: 1.5em;

  .title,
  p,
  h2 {
    text-align: center;
  }

  p {
    margin-bottom: 3em;
  }

  h2 {
    margin-bottom: 1em;
  }

  a {
    color: $cyclamen;
  }
}

.login-form {
  display: flex;
  flex-direction: column;

  input {
    border-radius: $component-border-radius;
    border: none;
    padding: 0.5em;
    font-size: 1.5em;
    background: $space-cadet-bright;
    color: white;
    margin-bottom: 0.5em;
  }

  button {
    margin: 1em 0;
  }
}