.new-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  height: 50vh;
  width: 95%;

  textarea,
  button {
    width: 100%;
  }

  button {
    max-width: 500px;
  }

  textarea {
    border-radius: $component-border-radius;
    border: none;
    font-size: 1.5rem;
    padding: 0.5em;
    position: relative;
    top: -1.5em;
    box-shadow: $default-box-shadow;
    background-color: white;
  }
}

.new-post-content {
  min-height: 8em;
  margin-top: 1em;
}

@media (min-width: 650px) {
  .new-post-form {
    width: 650px;
  }
}