.post {
  border-radius: $component-border-radius;
  margin: 1rem;
  padding: 0.5em;

  box-shadow: $default-box-shadow;
  background-color: white;

  .post-title {
    text-decoration: none;
    color: $space-cadet;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    color: $grey;
    margin-bottom: 0.5em;
  }

  .post-footer {
    color: $grey;
    text-align: center;
    margin-top: 0.5em;
  }
}