// colors
$space-cadet: #2b2d42;
$space-cadet-bright: #9c9cae;
$cyclamen: #e86a92;
$cyclamen-bright: #eb7aa2;
$grey: #afafaf;

$default-box-shadow: 0 19px 38px rgba(0,0,0,0.12), 0 15px 12px rgba(0,0,0,0.04);
$comment-offset: -3em;
$layout-border-radius: 2rem;
$component-border-radius: 1rem;